@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Josefin+Sans&family=Rock+Salt&family=VT323&display=swap');

@keyframes slideup {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* .portrait {
    margin-right: 5%;
    background-position: center;
    margin-top: 4.5rem;
    height: 120px;
    width: 112px;
    float: left;
    background-color: black;
    border-radius: 5rem;
    background-image: url("img/2nniue.jpg");
} */

.bio {
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 5%;
}

.biowrapper {
    padding-bottom: 5%;
    margin-bottom: 7%;
    border-radius: 3rem;
    padding-top: 10%;
    float: left;
    line-height: 35px;
    width: 380px;
}


.greeting {
    margin-left: 8px;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    animation: .5s ease-out .5s 1 slideup;
    position: relative;
    background: #69775c9f;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    width: 340px;
}

.greeting::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #69775c9f transparent transparent;
    bottom: -19.5px;
    left: 84%;
    margin-left: -10px;
}

.welcome {
    margin-right: 10px;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: .1rem;
    color: #83385C;
}

.welcome:after {
    content: "!";
    color: black;
}

.im {
    color: rgb(250, 250, 250);
    font-size: 30px;
}

.name {
    font-weight: bold;
    color: black;
    font-size: 52px;
    word-spacing: 30px;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.colin {
    padding-right: 20px;
}

.divider {
    padding-left: 4px;
    display: flex;
    width: 378px;
    padding-top: 24px;
    color: black;
}

.divider::before,
.divider::after {
    content: "";
    height: 1px;
    background-color: black;
    flex-grow: 1;
}

.skillnode {
    margin-top: -2rem;
    margin-left: 3px;
}

.innernode {
    padding-left: .4rem;
    padding-right: .4rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-weight: bold;
    font-size: 11px;
    height: 22px;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: rgb(83, 83, 83);
    transition: color .7s ease-in-out, box-shadow .7s ease-in-out;
}


.node-separtor {
    font-weight: bold;
    font-size: 15px;
    color: rgb(83, 83, 83);
}

.innernode:hover {
    box-shadow: inset 300px 0 0 0 black;
    opacity: 70%;
    cursor: pointer;
    transform: translateY(-7px);
    height: 40px;
    width: 70px;
    text-shadow: 1px 1px 2px #504545;
    color: white;
}


@media screen and (min-height:750px) {
    .bio {
        padding-bottom: 60px;
        display: inline-block;
        /* margin-top: 120px; */
    }

    .biowrapper {
        margin-left: 0;

    }

}

@media screen and (min-height:750px) and (min-width:900px) {

    .biowrapper {
        line-height: 45px;
        width: 450px;
    }

    .greeting {
        width: 400px;
    }

    .divider {
        width: 450px;
    }

    .innernode {
        font-size: 14px;
    }

    .name {
        font-size: 62px;
    }

    .welcome {
        font-size: 45px;
    }

}

@media screen and (min-width: 1350px) {

    .bio {
        display: block;
    }

    .biowrapper {
        margin-left: 40px;
    }

}

@media screen and (max-width:550px){
    .bio {
        padding-top: 22%;
        padding-left: 5%;
    }
    .biowrapper{
        margin-left: 0;
    }
    .innernode{
        font-size: 10px;
        padding-left: .2rem;
    padding-right: .2rem;
    }
    .name{
        font-size: 40px;
    }
    .greeting{
        margin-left: 40px;
        width: 240px;
        height: 50px;
    }
    .welcome{
        font-size: 24px;
    }
    .im{
        font-size: 20px;
    }

    .divider{
        width: 330px;
        margin-left: 23px;
    }
    
}