/* @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

.navBar {
    margin-left: 3%;
    float: left;
    margin-top: 15px;
    position: fixed;
    display: block;
}

.logo{
    background-image: url("../../img/LogoSolid.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.navLink {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    color: #32392c9f;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.navLink:hover {
    color: black;
}

.node-separtor {
    font-weight: bold;
    font-size: 20px;
    color: darkgray;
}

.active {
    color: black;
}

.active::before {
    margin-left: -1rem;
    font-size: 20px;
    content: "⚛";
    position: absolute;
}

@media screen and (max-width:550px){
    /* .active::before{
        padding-top: -10px;
    }  */
}