
#contactpanel {
    width: 100%;
    z-index: 2;
    position: relative;
    margin-top: 20%;
    margin-bottom: 10%;
}

.contactsTitle{
    text-align: center;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.contactDivider{
    width: 25%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.contactlink {
    display: inline-block;
    animation: fadeIn 5s;
    background-position: center;
    object-fit: fill;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.contactlink:hover {
    opacity: 60%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#github {
    margin-left: 3%;
    margin-right: 3%;
    height: 27px;
    width: 27px;
    border-radius: 4rem;
    background: url("../../img/github-mark.png");
    background-size: contain;
}

@media screen and (max-width: 550px) {
    #github {
        /* margin-top: .5rem; */
        margin-left: 10px;
        margin-right: 10px;
    }
}

#linkedIn {
    /* border-radius: 4rem; */
    margin-top: .8rem;
    height: 25px;
    width: 25px;
    background-image: url("../../img/LinkedInBlack.png");
    background-size: contain;
}

/* @media screen and (max-width: 336px) {
    #linkedIn {
        float: left;
        margin-top: .5rem;
        margin-left: .5rem;
    }

    #gmail {
        position: absolute;
        float: left;
    }
} */

#gmail {
    /* border-radius: 4rem; */
    /* margin-top: .7rem; */
    height: 33px;
    width: 33px;
    background-image: url("../../img/gmailBlackLetter.png");
    background-size: contain;
}